{% extends 'base.html' %}

{% load static %}

{% block content %}



{% if collected_parcels != None %}
{% include 'includes/modal_collection.html' %}
{% endif %}
<!-- Begin Page Content -->
<div class="container-fluid">
    {% if messages %}
    {% include 'includes/alerts.html' %}
    {% endif %}
<div class="row">

    <div class="col mb-2">
        <div class="card border-left-info shadow h-100 py-0 mb-0 bg-gradient-light" style="width: 18rem; float: left !important;">
            <div class="card-body" style="padding: 0.4rem;">
                <div class="row no-gutters align-items-center">

                    <div class="col mr-1">
                        <form action="{% url 'search_results' %}" method="GET" name="parcel_search">
                        <div class="text-lg font-weight-bold text-primary text-uppercase mb-1">
                            Find delivery: </div>
                            <div>
                            
                            <input class="form-control" list="parcels_by_flat" id="flat" placeholder="By flat" name="flat" maxlength="4" autocomplete="off">
                            {% for i in search_list_flat %}
                            <datalist id="parcels_by_flat">
                              
                              <option value="{{i}}">
                             
                                {% endfor %}
                            </datalist>
                        </div>
                        <div>
                            <input class="form-control" list="parcels_by_name" id="tenant_name" placeholder="By name" name="tenant_name" maxlength="25" autocomplete="off">
                            {% for i in search_list_name %}
                            <datalist id="parcels_by_name">
                              
                              <option value="{{i}}">
                             
                                {% endfor %}
                            </datalist>
                        </div>
                    </div>
                    <div class="col-auto">
                        <button type="submit" style="background: none; border: none;">
                        <i class="fas fa-search fa-2x text-primary clickable-row" style="font-size: 3rem; padding: 1rem;"></i></button>
                    </div>
                </form>
                </div>
            </div>
        </div>
        </div>

    <div class="col-2">
        <br>
        <h1>Parcel log</h1>
    </div>
<div class="col mb-2">
<div class="card border-left-info shadow h-100 py-0 mb-0 bg-gradient-light" style="width: 18rem; float: right !important;">
    <div class="card-body" style="padding: 0.4rem;">
        <div class="row no-gutters align-items-center">
            <div class="col mr-1">
                <div class="text-lg font-weight-bold text-primary text-uppercase mb-1">
                    Total in parcel room: </div>
                <div class="h3 mb-0 font-weight-bold text-primary" style="text-align:center; font-size: 2.2rem">{{ total_num }}</div>
            </div>
            <div class="col-auto">
                <br>
                <i class="fas fa-box-open fa-2x text-primary" style="font-size: 3rem;"></i>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<div class="card border-left-info shadow mb-2" >
    <div class="card-header py-3  bg-gradient-light" >
        {% if today_parcels == None %}
        <h6 class="m-0 font-weight-bold text-primary">{{ today_format }}
    </div>
    <div class="card-body">
        <div class="table-responsive">
           
            <table style="display: none;" class="table table-bordered" id="dataTable" width="100%" cellspacing="0"></table>
                <tr>No parcels received today</tr>
                
                {% else %}
        <h6 class="m-0 font-weight-bold text-primary">{{ today_format }}<span style="float:right; font-size: 1.2rem;"> Received today: {{ today_parcels.1 }}</span> </h6>

        
    </div>
    <div class="card-body" style="padding: 0.4rem;">
        <div class="table">
          
              <table class="table table-bordered table-hover" width="100%" cellspacing="0">
                    <thead>
               <tr>
                      <th style="width: 10%">Time</th>
                        <th style="width: 10%;">Flat</th>
                        <th style="width: 50%;">Resident's name</th>
                        <th style="width: 15%;">Number of parcels</th>
                        <th style="width: 15%;">Code</th>
                        </tr>
                   </thead>
                  
                    {% for i in today_parcels.0 %}
                <tbody>
             
                  
                    <tr class="clickable-row" data-href="{{ i.get_url }}">
                      
                        <td>{{ i.date_arrived|date:"H:i" }}</td>
                        <td>{{ i.flat_number }}</td>
                        <td>{{ i.tenant}}</td>
                        <td>{{ i.amount_parcels }}</td>
                        <td>{{ i.parcel_num }}</td>
                       
                        
                    </tr>
                   
                      {% endfor %}
                </tbody>
               
                
              

            </table>
            {% endif %}
        </div>
    </div>
</div>


{% for parcels_by_day, num_of_parcels in parcels_zip %}



<div class="card border-left-info shadow mb-2">
    <div class="card-header py-3  bg-gradient-light">
        <h6 class="m-0 font-weight-bold text-primary">{{ parcels_by_day.0.format_time }}
         <span style="float:right; font-size: 1.2rem;"> Received: {{ num_of_parcels }}</span> </h6>
    </div>
    <div class="card-body" style="padding: 0.4rem;">
        <div class="table">
            <table class="table table-bordered table-hover" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th style="width: 10%;">Time</th>
                        <th style="width: 10%;">Flat</th>
                        <th style="width: 50%;">Resident's name</th>
                        <th style="width: 15%;">Number of parcels</th>
                        <th style="width: 15%;">Code</th>
                        
                    </tr>
                </thead>

                {% for parcel in parcels_by_day %}
                
               
  
                <tbody>
                    <tr class="clickable-row" data-href="{{ parcel.get_url }}">
                        <td>{{ parcel.date_arrived|date:"H:i" }}</td>
                        <td>{{ parcel.flat_number }}</td>
                        <td>{{ parcel.tenant}}</td>
                        <td>{{ parcel.amount_parcels }}</td>
                        <td>{{ parcel.parcel_num }}</td>
                        
                    </tr>
                   
                </tbody>
        
              {% endfor %}
            

            </table>
        </div>
    </div>
</div>

{% endfor %}
</div>
{% endblock %}